@charset "utf-8";
@import url("chatCSS.css");

form {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    width: 450px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

input[type=text], [type=tel] {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
    width: 98%;
    padding: 5px;
    margin: auto;
    font-size: medium;
    border: medium solid black;
}

textarea {
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid thin black;
    text-align: left;
    padding: 35px 35px;
}

input[type=number] {
    background-color: white;
    width: 85px;
    padding: 10px;
    border-radius: 35%;
    border: medium black solid;
}

input[type=button], input[type=submit], input[type=reset] {
    border: medium black solid;
    padding: 10px;
    background-color: white;
    font-weight: bolder;
}


legend {
    background-color: grey;
    color: white;
}

fieldset {
    background-color: black;
}

label {
    color: white;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 40%;
}

.checkbox {
    border: medium solid white;
}

.raddio {
    border: medium solid white;
}
